body {
    margin: 0;
    height: 100vh;
    background: #18181b;
    font-size: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form1 {
    background-color: #27272a;
    padding: 30px;
    border-radius: 5px;
}

.conteiner h2 {
    text-align: center;
    color: #cbd5e1;
    padding: 5px;
}


label {
    margin-bottom: 20px;
    color: #f1f5f9;
    font-size: 18px;
}

input[type=text] {
    width: 97%;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cbd5e1;
    border-color: #cbd5e1;
}

input[type=password] {
    width: 97%;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cbd5e1;
    border-color: #cbd5e1;
}

input[type=email] {
    width: 97%;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cbd5e1;
    border-color: #cbd5e1;
}

textarea {
    width: 97%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    resize: none;
}

input {
    font-size: 15px;
    color: #334155;
}

textarea:focus,
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.termos {
    text-decoration: none;
    color: #1e40af;
}

.termosdeuso {
    font-size: 16px;
}

button {
    border: none;
    padding: 8px 5px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #374151;
    color: #cbd5e1;
}

button:hover {
    background-color: #2c3441;
    color: #a9b1bb;
}